<div *ngIf="mostrarDatos" class="row d-flex justify-content-between p-5 mt-5 border border-2 rounded-5 palabas">
    <div class="col-12">
        <h2 class="text-center mb-4">Unas lindas palabas para un mujer más linda
            <mat-icon>gesture</mat-icon><mat-icon>edit</mat-icon></h2>
    </div>

    <div class="col-5">
        <p>Ese día se levantó él como siempre, un día un tanto rutinario como muchos otros, tomo el transporte necesario
            para llegar al lugar dónde aun no sabía, pero se iba a encontrar con una personita tan especial que ni él lo
            esperaría.</p>
    </div>
    <div class="col-5">
        <p>Trabajando se encontraba cuando de la nada una hermosa pero tímida chica se acerca con un nerviosismo
            evidente pero muy tierno, ofreciendo una nueva oportunidad de vivir muchas nuevas experiencias disfrazada
            con la venta de una rifa, poco a poco se fueron conociendo y dándose cuenta de que aquel día en definitiva
            no era igual que los otros, pues era el comienzo de una historia con más anécdotas positivas con emociones
            alegres que cuentos sin finales felices.</p>
    </div>
    <div class="col-12">
        <p>Hoy princesa hermosa quiero por este medio recordarte lo mucho que te amo, y si en algún momento has sentido
            lo contrario me disculpo, pero mis sentimientos siempre han sido claros hacia ti, por lo que para mí es
            doloroso el solo pensar que, a pesar de todo, están esos pensamientos negativos con respecto a la existencia
            misma, me llena de impotencia el saber que por más de que lo intente no podrá borrar del todo ese
            sentimiento.</p>
        <p>Espero valores esta pequeña sorpresa que te venía preparando con mucho cariño, pero sobretodo amor.</p>
    </div>
    <div class="text-center mt-4">
        <img src="../../assets/imagenes/cata.jpg" class="rounded img-thumbnail imagenPalabras" alt="imagen">
    </div>


    <div class="col-12 d-flex justify-content-end">
        <button [routerLink]="['/acto3']" class="btn btnActo2 m-4">
            <mat-icon>arrow_right</mat-icon></button>
    </div>
</div>