.palabas{
    background-color: #f0c28569;
    border-color: #00000087 !important;
}

.imagenPalabras{
    max-width:200px;
}

.btnActo2{
    color: #191818;
    background-color: #f9e6cd;
    border: #1f1d1d solid 2px;
}

